<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optimum ERP</title>
    <link rel="stylesheet" href="static/css/nav.css">
</head>
<body>
    <header>
        <div class="div">
            <div class="div-2">
              <img
                loading="lazy"
                srcset="..."
                class="img"
              />
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/3fd699706d2d16d1b5e95e0bdf724873f593ed1fef1654ac970fbae98e78bb71?"
                class="img-2"
              />
              <div class="div-3">Usuário</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/694944bdc2cae24b61b887644b6a735e8c24d1c686759aa27031b63fc768811e?"
                class="img-3"
              />
              <div class="div-4">Relatórios</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/83b11b79d31944b6be9981404e00e87e341bb8e95a5dac6298278889b9737d8c?"
                class="img-4"
              />
              <div class="div-5">Compras</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/b567b8f6957f214d7469b703cbaf5e27a71ba7d484879c4b3485cb2158ec2d58?"
                class="img-5"
              />
              <div class="div-6">Contábil</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/e2243b6013507cc27a3647dd89ce5139d761e288fbc8d70043767274a61467d3?"
                class="img-6"
              />
              <div class="div-7">Vendas</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/3001b6a3595c7ba481fbcf0b2cb3512968f50f974891acb0b1f7a90f9810284e?"
                class="img-7"
              />
              <div class="div-8">Financeiro</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/a647e60c1a2de06c1c7b063fd43a089ec6f41c990ecab5b0541a29d400661e13?"
                class="img-8"
              />
              <div class="div-9">Estoque</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/3ec7b354118598e1d40be1acbdd157808608df37d4aace651c69bc8ff69c3994?"
                class="img-9"
              />
              <div class="div-10">
                Cadaastro
                <br />
                Produtos
              </div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/a3d85bae97c18fc7ace418c9495b838eca2d500c30217fcdac10ea6e5ccdae93?"
                class="img-10"
              />
              <div class="div-11">Fornecedor</div>
            </div>
          </div>
    </header>
</body>
</html>