body {
  background-color: #F4F4F4;
}

main {
  height: 100vh;
}

.btn-sticky-bottom {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

::-webkit-scrollbar {
    width: 5px;
}   
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(186, 186, 186); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.active {
  background-color: white !important;
  color: black !important;
}

hr {
  color: rgb(255, 255, 255);
}

.main {
  padding: 0;
  margin-top: 54px;
  margin-left: 80px;
  height: fit-content;
  width: calc(100vw - 80px);
}

.main-container {
  padding: 0;
  margin: 10px !important;
}

.menu-icons {
  font-size: 23px;
}

.nav-size {
  width: 80px;
}

.link-name {
  display: none;
  font-size: 15px;
}

.nav-link {
  padding: 1;
  height: 50px;
  white-space: nowrap;
}

#navbar {
  height: 100vh !important;
  overflow: hidden;
  position: fixed;
  z-index: 3;
}

h1 {
  font-size: 25px;
  font-weight:normal;
}

.titlebar {
  width: calc(100vmax - 80px);
  height: 56px !important;
  margin-left: 80px;
  position: fixed;
}

.bi-person-circle {
  color: white;
  font-size: 35px;
  position: relative;
  top: -35%;
  margin-block: 0px !important;
  padding: 0px !important;
  align-self: center;
}

#dropdown-menu {
  height: 20px;
  margin-left: 15px;
  padding: 0 !important;
}