main {
  height: 100vh;
}

.btn-sticky-bottom {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

::-webkit-scrollbar {
    width: 5px;
}   
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(186, 186, 186); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.active {
  background-color: white !important;
  color: black !important;
}

hr {
  color: rgb(255, 255, 255);
}

.menu-icons {
  margin-block: 5px;
  font-size: 23px;
}

.nav-size {
  width: 80px;
}

.link-name {
  display: none;
}

.nav-link {
  padding: 1;
}

#navbar {
  height: 100vh !important;
  overflow: auto;
}