{% extends "base.html" %}
{% load static %}
{% load phone_filter_suppliers %}

{% block title %}Fornecedores{% endblock  %}

{% block head %}
<link rel="stylesheet" href="{% static 'suppliers/css/index.css' %}">

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script src="{% static 'base/js/index.js' %}"></script>
<script src="{% static 'suppliers/js/index.js' %}"></script>
{% endblock  %}

{% block page_name %}Fornecedores{% endblock %}

{% block search %}
  {% comment %}Sem search{% endcomment %}
  <div style="height: 38px;"></div>
{% endblock %}

{% block content %}

<div class="row container-fluid">
  <div class="col-md-2">
    <a 
      href="{% url "suppliers:create" %}" title="Cadastrar novo fornecedor"
      class="btn btn-success">
      <i class="bi bi-plus"></i>
      Novo
    </a>
  </div>
</div>

<div class="row d-flex mt-2 container-fluid">

  <div class="col-md-3">
    {% include "partials/_filter.html" %}
  </div>

  <div class="table-responsive flex-column bg-white p-2 col-md-9 rounded">
    <table class="table table-borderless table-hover table-sm table-color">
      <thead class="table-border">
        <tr>
          <th>Ações</th>
          <th>ID</th>
          <th>Data de Cadastro</th>
          <th>Razão Social</th>
          <th>Nome Fantasia</th>
          <th>Representante</th>
          <th>Telefone</th>
          <th>Ativo</th>
        </tr>
      </thead>
      <tbody>
        {% for supplier in page_obj %}
          <tr>
            <td class="d-flex gap-1">
              <a href="{% url 'suppliers:update' supplier.slug %}" class="btn btn-warning btn-sm" title="editar fornecedor"><i class="bi bi-pencil"></i></a>
              <form method="post" action="{% url 'suppliers:delete' supplier.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm" title="remover fornecedor"><i class="bi bi-trash"></i></button>
              </form>
            </td>
            <td>{{ supplier.id }}</td>
            <td>{{ supplier.created_at|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ supplier.company_name|title }}</td>
            <td>{{ supplier.fantasy_name|title }}</td>
            <td>{{ supplier.representative|title }}</td>
            <td>{{ supplier.phone|format_phone }}</td>
            <td>
              <input {% if supplier.enabled %}checked{% endif %} data-url="{% url 'suppliers:toggle_enabled' supplier.id %}" type="checkbox" class="form-check-input" />
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="8" class="text-center">Nenhum fornecedor cadastrado</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include "partials/_paginator.html" %}
  </div>
</div>
{% endblock  %}