{% extends "base.html" %}
{% load static %}
{% block title %}Editar pedido de venda{% endblock  %}
{% block head %}
    <link rel="stylesheet" href="{% static 'sales_order/css/createUpdate.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="{% static 'sales_order/js/createUpdate.js' %}"></script>
{% endblock  %}

{% block page_name %}
  Editar pedido de venda
{% endblock %}

{% block search %}
  {% comment %}Sem search{% endcomment %}
  <div style="height: 38px;"></div>
{% endblock %}

{% block content %}
{% comment %} <form id="sales_order_form" action="{% url 'sales_order:update' id %}" method="POST"> {% endcomment %}
<form id="sales_order_form" method="POST">
    {% csrf_token %}
    
    <div class="d-flex create-sales-order p-3">
        {% include 'partials/_sales_order_form.html' %}
        <div class="d-grid mb-3">
            <button type="button" id="addSaleOrderButton" class="btn btn-outline-secondary">Adicionar produto</button>
        </div>
        <div class="d-grid">
            <button id="submitButton" type="submit" class="btn btn-primary btn-lg">Salvar</button>
        </div>
    </div>
</form>

{% endblock  %}
