{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Cadastro de Usuários{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'user/css/createUpdate.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
{% endblock %}

{% block page_name %}
    Cadastro de Usuário
{% endblock %}

{% block search %}
  {% comment %}Sem search{% endcomment %}
  <div style="height: 38px;"></div>
{% endblock %}

{% block content %}
    <form action="{{ form_action }}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
        </div>
    </form>
{% endblock %}