{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/index.css' %}">

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block page_name %}Dashboard{% endblock %}
{% block content %}
<div class="z-2">
    <div class="row mb-3">
        <div class="col-md-12 z-n1">
            <div class="chart-container">
                <div class="fw-bold">TOP 10 PRODUTOS MAIS VENDIDOS</div>
                <div class="border" id='top-products-chart'>{{ plot_div_salesproduct|safe }}</div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 z-n1">
            <div class="chart-container">
                <div class="fw-bold">COMPRAS POR FORNECEDOR</div>
                <div class="border" id='purchases-chart'>{{ plot_div_purchases|safe }}</div>
            </div>
        </div>
        <div class="col-md-6 z-n1">
            <div class="chart-container">
                <div class="fw-bold">TOP 10 PRODUTOS COM MAIOR ESTOQUE</div>
                <div class="border" id='top-inventory-charts'>{{ plot_div_inventory|safe }}</div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-8 z-n1">
            <div class="chart-container">
                <div class="fw-bold">TOP 10 CLIENTES QUE MAIS COMPRAM</div>
                <div class="border" id='sales-chart'>{{ plot_div_sales|safe }}</div>
            </div>
        </div>
        <div class="col-md-4 z-n1">
            <div class="chart-container">
                <div class="fw-bold">VENDAS POR USUÁRIO/VENDEDOR</div>
                <div class="border" id='sales-by-user-chart'>{{ plot_div_salesusers|safe }}</div>
            </div>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-md-12 z-n1">
            <div class="chart-container">
                <div class="fw-bold">VENDAS POR CATEGORIA</div>
                <div class="border" id='sales-by-category-chart'>{{ plot_div_category|safe }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}