{% extends "base.html" %}
{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block page_name %}Dashboard{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="chart-container">
                <div class="chart-title">Número de Fornecedores por Estado<i class="tim-icons icon-bell-55 text-primary"></i></div>
                <div id="supplierChart">{{ supplier_chart_html | safe }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="chart-container">
                <div class="chart-title">Compras por Fornecedor</div>
                <div id="purchasesChart">{{ purchases_chart_data | safe }}</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="chart-container">
                <div class="chart-title">Top 10 Clientes por Total de Vendas</div>
                <div id="salesorderChart">{{ sales_chart_html | safe }}</div>
            </div>
        </div>
    </div>
{% endblock %}