{% load crispy_forms_tags %}
<div class="filter d-flex flex-column p-2 me-2 bg-white rounded">
  <div class="d-flex">
    <i class="bi bi-funnel me-1 fs-4"></i><h3 class="filter-title mb-3 fs-3">Filtros</h3>
  </div>
    <form method="get">
      {{ filter.form|crispy }}
      <a href="{% url main_page %}" class="btn btn-outline-danger btn-filter">
        Limpar filtros
      </a>
      <button class="btn btn-outline-success btn-filter" type="submit">Aplicar filtros</button>
    </form>
</div>
