{% load crispy_forms_tags %}

<div class="row">
    <div class="col">{{ form.name|as_crispy_field }}</div>
</div>
<div class="row">
    <div class="col">{{ form.description|as_crispy_field }}</div>
</div>
<div class="row">
    <div class="col-md-4">{{ form.unit_of_measurement|as_crispy_field }}</div>
    <div class="col-md-4">{{ form.minimum_stock|as_crispy_field }}</div>
    <div class="col-md-4">{{ form.sale_price|as_crispy_field }}</div>
</div>
<div class="row">
    <div class="col-md-4">{{ form.cst|as_crispy_field }}</div>
    <div class="col-md-4">{{ form.category|as_crispy_field }}</div>
    <div class="col-md-4">{{ form.expiration_date|as_crispy_field }}</div>
</div>
{% if h1.text == "Edição do produto" %}
<div class="row">
    <div class="col">
        {{ form.enabled|as_crispy_field }}
    </div>
</div>
{% endif %}
<h3>Fornecedores</h3>
<div id="supplierFormset">
    {{ supplier_product_formset.management_form }}
    {% for supplier in supplier_product_formset %}
    <div class="row mb-3">
        {{ form.id }}
        <div class="col-md-5">
            {{ supplier.supplier|as_crispy_field }}
        </div>
        <div class="col-md-5">
            {{ supplier.cost_price|as_crispy_field }}
        </div>
        <div class="col-md-2">
            <div class="d-grid">
                <button 
                {% if supplier.id.value %}data-url="{% url "products:delete_supplier" supplier.id.value %}"{% endif %}
                type="button" 
                class="btn btn-danger remove-btn">
                    <i class="bi bi-x"></i>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>