{% load crispy_forms_tags %}

<h2>Informações cadastrais</h2>
<div class="row">
  <div class="col-md-2">{{ form.cnpj|as_crispy_field }}</div>
  <div class="col-md-5">{{ form.company_name|as_crispy_field }}</div>
  <div class="col-md-5">{{ form.fantasy_name|as_crispy_field }}</div>
</div>
<div class="row">
  <div class="col-md-5">{{ form.representative|as_crispy_field }}</div>
  <div class="col-md-5">{{ form.email|as_crispy_field }}</div>
  <div class="col-md-2">{{ form.phone|as_crispy_field }}</div>
</div>
<h2>Endereço</h2>
<div class="row">
  <div class="col-md-3">
    <label for="zipcodeInput" class="form-label">CEP</label>
    <div class="input-group">
      <input type="text" class="form-control placeholderStyle {% if form.zipcode.errors %}{% endif %}" id="zipcodeInput" name="zipcode" value="{{ form.zipcode.value|default_if_none:'' }}" placeholder="00000-000" />
      <span class="input-group-text"><i id="zipcodeIcon" class="bi bi-geo-alt"></i></span>
      {% if form.zipcode.errors %}
        <div class="invalid-feedback">
          {% for error in form.zipcode.errors %}
            {{ error|escape }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col-md-6">{{ form.street|as_crispy_field }}</div>
  <div class="col-md-3">{{ form.number|as_crispy_field }}</div>
</div>
<div class="row">
  <div class="col-md-6">{{ form.city|as_crispy_field }}</div>
  <div class="col-md-6">{{ form.state|as_crispy_field }}</div>
</div>
