{% extends "base.html" %}
{% load static %}
{% load quantity_filter %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="{% static 'base/js/index.js' %}"></script>
    <script src="{% static 'inventories/js/index.js' %}"></script>
{% endblock  %}
{% block title %}Estoques{% endblock  %}
{% block content %}
    <h2 class="mb-3">Estoques</h2>

    <!-- Modal -->
    <div class="modal fade" id="suppliersModal" tabindex="-1" aria-labelledby="inventoriesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="inventoriesModalLabel">Estoque</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                </tr>
                </thead>
                <tbody id="suppliersTableBody">

                </tbody>
            </table>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
        </div>
    </div>
    
    <a 
    href="{% url 'products:inventory_create' %}"
    title="Cadastrar novo estoque"
    class="btn btn-primary btn-sticky-bottom">
    <i class="bi bi-plus"></i>
    </a>

    {% comment %} Filtro {% endcomment %}
    {% include "partials/_search_filter.html" with search_value="products:inventory_search" %}

{% comment %} Tabela de produtos {% endcomment %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade total</th>
                    <th>Custo total</th>
                </tr>
            </thead>
            <tbody>
                {% for inventory in inventories %}
                <tr>
                    <td>{{ inventory.id }}</td>
                    <td title="{{ inventory.name }}">{{ inventory.name|title|truncatechars:20 }}</td>
                    <td>
                        {{ inventory.total_quantity }}
                    </td>
                    <td>
                        {{ inventory.total_cost }}
                    </td>

                {% empty %}
                <tr>
                    <td colspan="3" class="text=center">Nenhum estoque cadastrado</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock  %}