{% extends "base.html" %}
{% load static %}
{% load quantity_filter %}

{% block title %}Produtos{% endblock  %}

{% block head %}
<link rel="stylesheet" href="{% static 'products/css/index.css' %}">

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script src="{% static 'base/js/index.js' %}"></script>
<script src="{% static 'products/js/index.js' %}"></script>
{% endblock  %}

{% block page_name %}Produtos{% endblock %}

{% block search %}
  {% comment %}Sem search{% endcomment %}
  <div style="height: 38px;"></div>
{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="suppliersModal" tabindex="-1" aria-labelledby="suppliersModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="suppliersModalLabel">Fornecedores</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Preço de custo</th>
                    </tr>
                    </thead>
                    <tbody id="suppliersTableBody">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="row container-fluid">
    <div class="col-md-2">
        <a 
        href="{% url 'products:create' %}"
        title="Cadastrar novo produto"
        class="btn btn-success">
            <i class="bi bi-plus"></i>
            Novo
        </a>
    </div>
</div>

<div class="row d-flex mt-2 container-fluid">

    {% comment %} FILTRO AO LADO DO USUARIO {% endcomment %}
    {% comment %} Filtro {% endcomment %}
    {% comment %} {% include "partials/_search_filter.html" with search_value="products:search" %} {% endcomment %}

    <div class="col-md-3">
        {% include "partials/_filter.html" with main_page="products:index" %}
      </div>

    {% comment %} Tabela de produtos {% endcomment %}
    <div class="table-responsive bg-white p-2 col-md-9 rounded">
        <table class="table table-borderless table-hover table-sm table-color">
            <thead class="table-border">
                <tr>
                    <th>Ações</th>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Estoque</th>
                    <th>Unidade</th>
                    <th>Preço de venda</th>
                    <th>Expiração</th>
                    <th>Ativo</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td class="d-flex gap-1">
                        <button data-url="{% url 'products:suppliers' product.id %}" title="Fornecedores do produto" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#suppliersModal">
                            <i class="bi bi-box"></i>
                        </button>
                        <a href="{% url 'products:update' product.slug %}" class="btn btn-warning btn-sm" title="Editar produto">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <form method="post" action="{% url 'products:delete' product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" title="Remover produto">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </td>
                    <td>{{ product.id }}</td>
                    <td title="{{ product.name }}">{{ product.name|title|truncatechars:20 }}</td>
                    <td title="{{ product.description }}">{{ product.description|truncatechars:20 }}</td>
                    <td>
                        {% for inventory_product in inventory_quantity %}
                            {% if inventory_product.product == product %}
                                {{ inventory_product.quantity|format_quantity }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ product.unit_of_measurement }}
                    </td>
                    <td>R${{ product.sale_price }}</td>
                    <td> 
                        {% if product.expiration_date %}
                            {{ product.expiration_date|date:"SHORT_DATE_FORMAT" }}
                        {% else %}
                            Não perecível
                        {% endif %}
                    </td>
                    <td>
                        <input type="checkbox" class="form-check-input" {% if product.enabled %}checked{% endif %} data-url={% url 'products:toggle_enabled' product.id %}>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="10" class="text=center">Nenhum produto cadastrado</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% comment %} Paginação {% endcomment %}
        {% if products.paginator.num_pages > 1 %}
        <nav aria-label="Paginação da página">
            <ul class="pagination justify-content-end">
                {% if products.has_previous %}
                <li class="page-item">
                    <a href="?page={{ products.previous_page_number }}" class="page-link" aria-label="Anterior">&laquo;</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <span class="page-link">{{ products.number }}</span>
                </li>
                {% if products.has_next %}
                <li class="page-item">
                    <a href="?page={{ products.next_page_number }}" class="page-link" aria-label="Próximo">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>

{% endblock  %}